<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>true facts.</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <h1>Login</h1>
  <ul>
    {{#each facts}}
    <li>{{text}}</li>
    {{/each}}
  </ul>
  <form>
    <label>Email</label>
    <input type="text" id="txtEmail">
    <label>Password</label>
    <input type="password" id="txtPassword">
    <button type="button" id="btnLogin">Iniciar sesión</button>
  </form>
  <script src="https://www.gstatic.com/firebasejs/5.10.1/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/5.10.1/firebase-auth.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="index.js"></script>
</body>
</html>